<div class="container login-wrapper">
  <div class="row">
    <div class="col-md-12 login-logo">
      <h1>{ } codeMinder</h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="container-fluid social-buttons">
        <div class="row">
          <button class="facebook-link">
          <a href="/login/facebook" target="_self" class="pull-right facebook-button">Facebook Signup/Login</a>
        </button>
        </div>
        <div class="row">
          <button class="github-link">
          <a href="/login/github" target="_self" class="row">GitHub Signup/Login</a>
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
